/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spark {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0;
    z-index: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.is-liked .sparks {
  animation-name: spark;
  transform-origin: center;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.is-liked .heart {
  animation-name: scale;
  transform-origin: center;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}
.sparks {
  opacity: 0;
}
.card__icon-button:hover .core {
  opacity: 1;
  transition-duration: 0.3s;
  transition-delay:0s;
  transition-timing-function: linear;
}
.card__icon-button:not(:hover) .core {
  fill: transparent;
  transition-duration: 0.3s;
  transition-delay:0.03s;
  transition-timing-function: linear;
}
.card__icon-button:hover .main-body {
  opacity: 1;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.card__icon-button:not(:hover) .main-body {
  fill: transparent;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.card__icon-button:active .core {
  fill: #FF0000;
  transition-duration: 0.3s;
  transition-delay:0s;
  transition-timing-function: linear;
}
.card__icon-button:active .main-body {
  fill: #FF0000;
  transition-delay: 0.05s;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.like-icon .contour {
  fill: #000;
  transition-duration: 0.3s;
  transition-delay:0.06s;
  transition-timing-function: linear;
}
.like-icon .main-body {
  fill: #000;
  transition-duration: 0.3s;
  transition-delay:0.06s;
  transition-timing-function: linear;
}
.like-icon .core {
  fill: #000;
  transition-duration: 0.3s;
  transition-delay:0.06s;
  transition-timing-function: linear;
}
.like-icon.is-liked .contour {
  fill: #FF0000;
}
.like-icon.is-liked .main-body {
  fill: #FF0000;
}
.like-icon.is-liked .core {
  fill: #FF0000;
}
.effect__button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}
.effect__button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -104%;
  width: 104%;
  height: 106%;
  background-color: #000;
  z-index: 0;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.effect__button:hover::after {
  transform: translateX(100%);
}
.effect__button:hover {
  color: #000;
}
dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.75);
}
.card__icon-button:focus-visible {
  border-color: #000;
}